<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Twitterizer.Desktop.ConsumerKey" value="GoNLHcoS2tkG0rJNBgwMfg"/>
    <add key="Twitterizer.Desktop.ConsumerSecret" value="9j4hqpKxntK6IbrrsG1RX69XzU3RssJE5rDKtWq9g" />
    
  </appSettings>
</configuration>