<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Twitterizer.Desktop.ConsumerKey" value="Ds8w95QVNTITV16pqMwtHA"/>
    <add key="Twitterizer.Desktop.ConsumerSecret" value="EsFCXRuKZwgZ3UgdnvxZKNgNGKyQWeltTihdoqaV4" />

    <!-- Allow Twitterizer to submit usage statistics -->
    <add key="Twitterizer2.EnableStatisticsCollection" value="true" />

    <!-- Enable Twitterizer's custom performance counters -->
    <add key="Twitterizer2.EnablePerformanceMonitor" value="false" />

    <!-- Enable use of SSL to reach Twitter -->
    <add key="Twitterizer2.EnableSSL" value="true" />

    <!-- Enable caching results -->
    <add key="Twitterizer2.EnableCaching" value="true" />
  </appSettings>
</configuration>