<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Twitterizer.Desktop.ConsumerKey" value="Ds8w95QVNTITV16pqMwtHA"/>
    <add key="Twitterizer.Desktop.ConsumerSecret" value="EsFCXRuKZwgZ3UgdnvxZKNgNGKyQWeltTihdoqaV4" />
    <add key="Twitterizer.Desktop.AccessToken" value="" />
    <add key="Twitterizer.Desktop.AccessTokenSecret" value="" />
  </appSettings>
</configuration>