<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Actions for the authenticated user -->
    <add key="Twitterizer.Framework.Update" value="http://twitter.com/statuses/update.xml?status={0}"/>
    <add key="Twitterizer.Framework.Destroy" value="http://twitter.com/statuses/destroy/{0}.xml"/>
    <add key="Twitterizer.Framework.Show" value="http://twitter.com/statuses/show/{0}.xml"/>
    <add key="Twitterizer.Framework.FriendsTimeLine" value="http://twitter.com/statuses/friends_timeline.xml"/>
    <add key="Twitterizer.Framework.Friends" value="http://twitter.com/statuses/friends.xml"/>
    <add key="Twitterizer.Framework.Followers" value="http://twitter.com/statuses/followers.xml"/>
    <add key="Twitterizer.Framework.Replies" value="http://twitter.com/statuses/replies.xml"/>
    <add key="Twitterizer.Framework.Featured" value="http://twitter.com/statuses/featured.xml"/>
    
    <!-- Messages to/from the authenticated user -->
    <add key="Twitterizer.Framework.Messages" value="http://twitter.com/direct_messages.xml?since_id={0}"/>
    <add key="Twitterizer.Framework.MessagesSent" value="http://twitter.com/direct_messages/sent.xml?since_id={0}"/>
    <add key="Twitterizer.Framework.MessagesNew" value="http://twitter.com/direct_messages/new.xml"/>

    <!-- Timelines -->
    <add key="Twitterizer.Framework.UserTimeline" value="http://twitter.com/statuses/user_timeline.xml"/>
    <add key="Twitterizer.Framework.PublicTimeline" value="http://twitter.com/statuses/public_timeline.xml"/>
    <add key="Twitterizer.Framework.ShowUser" value="http://twitter.com/users/show/{0}.xml"/>
    
    <!--Account -->
    <add key="Twitterizer.Framework.Archive" value="http://twitter.com/account/archive.xml?since_id={0}"/>
  </appSettings>
</configuration>