<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Twitterizer2.Example.ConsumerKey" value="GoNLHcoS2tkG0rJNBgwMfg"/>
		<add key="Twitterizer2.Example.ConsumerKeySecret" value="9j4hqpKxntK6IbrrsG1RX69XzU3RssJE5rDKtWq9g"/>
		<!-- Allow Twitterizer to submit usage statistics -->
		<add key="Twitterizer2.EnableStatisticsCollection" value="true"/>
		<!-- Enable Twitterizer's custom performance counters -->
		<add key="Twitterizer2.EnablePerformanceMonitor" value="false"/>
		<!-- Enable use of SSL to reach Twitter -->
		<add key="Twitterizer2.EnableSSL" value="true"/>
		<!-- Enable caching results -->
		<add key="Twitterizer2.EnableCaching" value="false"/>
		<!-- Sets the number of seconds to cache results -->
		<add key="Twitterizer2.CacheTimeout" value="60"/>
	</appSettings>
	<system.web>
		<securityPolicy>
			<trustLevel name="GodaddyTrust" policyFile="web_godaddytrust.config"/>
		</securityPolicy>
		<trace enabled="true" pageOutput="false" mostRecent="true" requestLimit="100"/>
		<!-- Set the level to GodaddyTrust to simulate Godaddy's hosting environment -->
		<trust level="Full"/>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<authentication mode="None"/>
		<pages masterPageFile="~/MasterPage.master" theme="DefaultTheme" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
		</pages>
	</system.web>
	<!-- The following block allows for diagnostic tracing information to be displayed in ASP.NET's page trace -->
	<system.diagnostics>
		<trace>
			<listeners>
				<add name="WebPageTraceListener" type="System.Web.WebPageTraceListener, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</listeners>
		</trace>
	</system.diagnostics>
	<!-- Uncomment the next block to enable proxy support at the given address. Left commented, settings from IE will be used. -->
	<!--
  <system.net>
    <defaultProxy enabled="true">
      <proxy proxyaddress="http://127.0.0.1:8888"/>
    </defaultProxy>
  </system.net>
  -->
</configuration>
