<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="Twitterizer2.Example.ConsumerKey" value="" />
  <add key="Twitterizer2.Example.ConsumerKeySecret" value="" />
  <add key="Twitterizer2.Example.AccessToken" value="" />
  <add key="Twitterizer2.Example.AccessTokenSecret" value="" />
</appSettings>

