<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AccessToken" value="14725805-ZzrL493j3zQqqHbhUHbGL69doznRdP1uS6Pr1oHOQ"/>
    <add key="AccessTokenSecret" value="6ykvXwX7U8bpzHqwoIaPnRBlNxPNg7vVslLpTQbReZ0"/>
    <add key="ConsumerKey" value="CAHbFRcmBGzifN2M9gusrw"/>
    <add key="ConsumerSecret" value="Zplfb3NmVpDdsXY0GS6btzmWymV3ZmkmoHuk5nYhUN8"/>
  </appSettings>
</configuration>