<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AccessToken" value="14725805-NXDudXOzSYcRjYKYKVvN4e1FZR1rr89HwdZyKwyU"/>
    <add key="AccessTokenSecret" value="cjx02hkvIPzPYgdWhIdbZca4aSliLiMmxLn1UmUL0"/>
    <add key="ConsumerKey" value="TvpIumqjqpooJO7Is7cfgA"/>
    <add key="ConsumerSecret" value="1oX0VqCyA4iS7zD7ixHhPHrBP1l6goYlQp2CbCPZ0qs"/>
    
  </appSettings>
</configuration>