<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AccessToken" value="14725805-NXDudXOzSYcRjYKYKVvN4e1FZR1rr89HwdZyKwyU"/>
    <add key="AccessTokenSecret" value="cjx02hkvIPzPYgdWhIdbZca4aSliLiMmxLn1UmUL0"/>
    <add key="ConsumerKey" value="WrVqv1yrG37FzfZu7jZL3A"/>
    <add key="ConsumerSecret" value="jqtAwSvJ1ik720lmnTpnCBXpiitdnw5qdU7SJades"/>
  </appSettings>
</configuration>